n8n/chatbot-ollama.json
{
    "name": "chatbot-ollama",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chat-ollama",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-node",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          280,
          200
        ],
        "webhookId": "webhook-chat-ollama"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://ollama:11434/api/generate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"model\": \"llama3:8b\",\n  \"prompt\": \"{{$json[\"query\"]}}\",\n  \"stream\": false\n}"
        },
        "id": "http-node",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          500,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n   \"response\": \"{{$node['HTTP Request'].json['response'] || $node['HTTP Request'].json['text']}}\"\n}"
        },
        "id": "response-node",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          740,
          200
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "chatbot-v1",
    "tags": []
  }
  