n8n/My_workflow_7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "model": "llama3:8b",
        "options": {
          "format": "json",
          "temperature": 0.7,
          "system": "Eres un asistente amable y útil. Respondes siempre en español de manera clara y concisa.",
          "responseFormat": {
            "type": "json_object",
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "enum": ["Final Answer"]
                },
                "response": {
                  "type": "string",
                  "description": "La respuesta directa en español a la pregunta del usuario"
                }
              },
              "required": ["action", "response"]
            }
          }
        }
      },
      "id": "5a1ceb41-86cd-48b1-9dac-3d5673b2d18d",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        860,
        560
      ],
      "credentials": {
        "ollamaApi": {
          "id": "KkY8q2wSL3l4OlMX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "4585910b-f61f-4de9-9b0f-9792b88917ce",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        600,
        340
      ],
      "webhookId": "dd9c839f-c932-44fb-aea6-c2be38a2b61f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "outputParser": {
            "type": "string",
            "template": "{{$json.response}}"
          },
          "memory": {
            "type": "buffer",
            "memoryKey": "chat_history",
            "returnMessages": true
          },
          "systemMessage": "Eres un asistente virtual amable que siempre responde en español."
        }
      },
      "id": "df655618-4e21-45af-b962-606a123b3339",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.5,
      "position": [
        920,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d6894e4-3ef9-4c03-b4d8-49ade9b67653",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f8cd4d44021adcb867e4a7980e05b38d46500dbf2037a2e914084d48850003e"
  },
  "id": "kzr343wIYDjIsy9X",
  "tags": []
}