n8n/test3.json
{
    "name": "test3",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "test3",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "dd877a8c-765d-434d-a22f-7200146129bb",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          220,
          240
        ],
        "webhookId": "22092714-469f-4975-81ad-97a56b305f35"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://ollama:11434/api/generate",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"model\": \"llama3:8b\",\n  \"prompt\": \"{{$json.body.query}}\",\n  \"stream\": false\n}",
          "options": {}
        },
        "id": "433cdcb5-7dba-4e44-b410-6377971031e0",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          480,
          240
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"success\",\n  \"query\": \"{{$json.body.query}}\",\n  \"response\": \"{{$json.response}}\",\n  \"model\": \"llama3:8b\",\n  \"timestamp\": \"{{$now}}\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "61de5f97-d9e0-45a9-9eba-03e475fe444e",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          800,
          420
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/Santiago",
      "saveManualExecutions": true,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "id": "test3_workflow"
}